* {
    font-family: 'Raleway' , 'sans-serif';
}
body { 
    font-size: 16px;
    margin: 0px;
    padding: 0px 20px; 
} 
.container {
	display: flex;
	justify-content: center;
}
.container > * {
	width: 100%;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
h1{
    font-size:150%;     
}
h2{
    font-size: 130%;
}
h3{
    font-size: 100%;
    margin-top: 5px;
}
.fa-star{
    color: #0065fc;
}
.gris{
    color: #F2F2F2;
}

/*****************HEADER******************/

.container{
    display: flex;
    justify-content: center;
} 
header{
    display: flex;
    justify-content: space-between; 
}  
header .logo{
    padding: 25px 0px;
    width: 150px;
}
header nav ul{ 
    display: flex;            
    list-style-type: none;  
    margin: 0;
}
header nav ul li {
    padding: 50px 25px;
    border-top: 2px solid transparent;
    margin: 0px 20px 0px 20px;
}

header nav ul li a{
    color: black;
    text-decoration: none;
}
header nav ul li:hover {
    border-color: #0065fc;
}
header nav ul li:hover a {
    color: #0065fc;
}
/*********************RECHERCHE***************/
#recherche{
    display: flex;
	flex-direction: column;
    padding: 10px;
}
.soustitre{
    display: block;
    margin-top: 0px;
    padding-top:0px;
}
.search{
    height: 50px;
}
.icongps{
    background-color: #F2F2F2;
    display: inline-block;
    padding: 15px 5px 15px 5px;
    width: 30px;
    border-radius: 16px 0 0 16px;
    text-align: center;
}
.ville{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    padding: 0 24px;
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}
.fa-search {
    display: none;   
}
.bouton {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 16px 16px 0;
    padding: 0 24px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    outline: none;
}
.bouton:hover{
    transform: translateY(2px);
    box-shadow:0 0 16px #707070;
    
}
.bouton:active{
    transform: translateY(4px);
    box-shadow: 0 1px #dedee0;
}

/***************FILTRES*******************/
.marge{
    margin-top: 50px;
    margin-bottom: 20px;
}
.filtre{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.filtretitre{
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.filtre-box{
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    height: 40px;
    margin: 0px 15px;
    cursor: pointer;    
}
.icon{
    background-color: #ecf4ff;
    color: #0065fc;
    border-radius: 100%;
    height: 40px;
    width: 40px;  
    display: flex;
    justify-content: center;
    align-items: center; 
}      
.text{
    font-weight: bold;
    padding: 10px;
}
.filtre-box:hover> .icon{
    color: white;
    background-color: #0065fc; 
}
.filtre-box:hover{
    transform: translateY(1px);
    box-shadow:0 2px #f2f2f2;
    background-color: #f2f2f2;
}
.filtre-box:active{
    transform: translateY(2px);
    box-shadow: 0 1px black;  
}
/**************INFO***********/
.info {
    display: flex;
    padding: 20px 0 20px 0;
}
.info .fas.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #0065fc;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    font-size: 16px;
    margin-right: 10px;
}

/***********HEBERGEMENT***********/
#hebergement{
    display: flex;
    justify-content: space-between;  
}
#hebergement .marseille {
    background-color: #f2f2f2;
    flex: 70%;
    padding: 10px;
    border-radius: 20px;
    box-sizing: content-box;
}
.hebergementmarseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    height: 230px;
    width: calc(33.3% - 10px);
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 5px 30px 5px;
    box-shadow: 0 5px 16px #0000002e;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    transition: all 1s ease;
}
.card-image{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 130px;
    object-fit: cover;
    transition-duration: 0.1s;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    color: inherit;
    text-decoration: none;
}
.card .textimg h3 {
    margin: 7px;
    font-weight: bold;
}
.textimg p{
    margin-left: 20px;
    margin: 5px
}
.etoilehebergement{
    margin-top: 5px;
    margin-left: 5px;
}
.afficherplus {
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
}

/*************POPULAIRE**********************/
#populaire{
    background-color: #f2f2f2;
    flex: 30%;
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;   
}
.titreboxpop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding-left:5px
}
.hebergementpop{
    position: relative;
}
.fa-chart-line:before {
    position: absolute;
    right: 75px;
    margin-top: -35px;
    color: black;
    
}  
.cardpop{
    display: flex;
    background: white;
    height:165px;
    width: 100%;
    margin: 0 5px 20px 5px;
    padding: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 16px #0000002e;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    transition: all 1s ease;
}
.imagepop{
    width: 135px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    margin-right: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    object-fit: cover;
    float: left;
}
.cardpop:hover{
    transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    color: inherit;
    text-decoration: none;
    transition: all 1s ease;
}  
.textpop{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}  
.textpop p{
    margin: 0px;
    font-weight: 100;
} 
.etoilepop1{
    margin-top: 55px;
}
.etoilepop2{
    margin-top: 35px;
}
.etoilepop3{
    margin-top: 55px;
}

/***************ACTIVITES*************/
#activites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.titreactivites{
    color: black;
    padding-left: 8px;
    margin-top: 40px;
}
.bloc-activites{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    box-sizing: border-box; 
}
.double-card{
    display: flex;
    flex-direction: column;
    width: 23%;
} 
.card-activites1et4{
    height: 550px;
    width: 23%;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    margin-right: 20px;
}
.activites1et4img{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    height: 485px;
    width: 100%;
    object-fit: cover;
}
.card-activites2{
    height: 300px;
    width: 100%;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    
} 
.activites2img{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    height: 240px;
    width:100%;
    object-fit: cover;
}
.card-activites3{
    height: 210px;
    width: 100%;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    
}
.activites3img{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    width:100%;
    object-fit: cover;
}
.card-activites5et6{
    height: 255px;
    width: 100%;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom:40px;   
} 
.activites5et6img{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    height: 190px;
    width:100%;  
    object-fit: cover;  
}
.textactivites{
    margin: 3px 2px;
    font-weight: bold;
    margin: 19px 24px;
}
.activites{
    object-fit: cover;
    transition-duration: 0.1s;
    cursor: pointer;
    box-shadow: 0 5px 16px #0000002e;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    transition: all 1s ease;
}
.activites:hover{
    transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    color: inherit;
    text-decoration: none;
    transition: all 1s ease;
} 

/**************FOOTER**************/
footer{
    padding: 10px;
}
#footer{
    display: flex;
    background-color: #F2F2F2;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box; 
}
.footerbox{
    width: 40%;
}
.textfooter{
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.footer_links{ 
    color: black;
    display: block;
    margin: 15px 0;
    font-weight: 500;
}


/********RESPONSIVE************/
@media (max-width: 1024px) {
    .etoilepop1{
        margin-top: 20px;
    }
    .etoilepop2{
        margin-top: 35px;
    }
    .etoilepop3{
        margin-top: 20px;
    }
}    
/*********TABLETTE**************/

@media (max-width: 992.9888px) { 
    body{
        padding: 0px 20px;
    }
    
    #hebergement{
        display: flex;
        flex-direction: column-reverse;  
    }
    #populaire{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .hebergementpop{
        display: flex;
        flex-direction: row;
    }
    .etoilepop1{
        margin-top: 20px;
    }
    .etoilepop2, .etoilepop3{
        margin-top: 40px;
    }
    .card{
        width: 48%;
        height: 210px;
        font-size: 14px;
    }
    
    /**activites**/
    #activites{ 
        width: 100%;
        margin: 0 10px 10px 10px;
    } 
    .bloc-activites{
        display: flex;
        justify-content: flex-start;
    }
    .titreactivites{
        margin-top: 25px;
    }
    .double-card{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .card-activites1et4, .card-activites2, .card-activites3, .card-activites5et6 {
        height: 200px;
        width: 400px;
        margin: 15px;
    }
    .activites1et4img{
        height: 150px;
        width: 100%;
    }
    .activites2img, .activites3img, .activites5et6img{
        height: 150px;
        width: 400px;
    }
    
}
/******************************/
/*********SMARTPHONE***********/
@media (max-width: 767.9888px) {
    body{ 
        padding: 5px;
        margin:5px
    }
    
    /**HEADER**/
    header{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .logo{
        display: flex;
        justify-content: center;
        margin: auto;
    } 
    header nav ul {
       
        padding: 0;
    }
    header nav ul li {
        width: 100%;
        padding: 20px;
        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }
    a nav ul li:hover{
        color: inherit;
        text-decoration: none;
        color: #0065fc;
        border-bottom: 2px solid #0065fc;
    }
    .ville{
        padding: 0;
        font-size:15px;
    }
    .fa-search {
        display: inline;
        color: white;
        background-color: #0065fc;
        padding: 18px;
        border-radius: 18px;
        right: 52px;
        cursor: pointer;
    }
    .fa-search:hover{
        transform: translateY(2px);
        box-shadow:0 0 16px #707070;
    }
    .fa-search:active{
        transform: translateY(4px);
        box-shadow: 0 1px #dedee0;
    }
    .bouton {
        border-radius: 15px;
        display: none;
    }
    .search{
        margin: 10px 0 15px 0;
    }
    /**filtres**/
    .filtre{
        display: flex;
        flex-wrap: wrap;
    }
    .filtretitre{
        width: 100%;
    }
    .marge{
        margin: 0;
    }
    .filtre-box{
        margin: 5px;
    }
    /**hebergement**/
    #hebergement{
        display: flex;
        flex-direction: column-reverse;    
    }
    #hebergement .marseille {
        background-color: white;
    }
    .hebergementpop{
        display: flex;
        flex-direction: column;
    }
    
    /**populaire**/
    #populaire{
        border-radius: 0px;
        padding: 5px;
    }
    .fa-chart-line:before{
        right: 55px;
    }
    .card{
        width: 95%;
        height: 210px;
        font-size: 14px;
    }
    .cardpop{
        width: 95%;
        height: 150px;
        padding: 5px;       
        margin: 8px;
        font-size: 14px;
    }
    .imagepop{
        width: 130px;
    }
    .etoilepop1, .etoilepop3{
        margin-top: 50px;
    }
    .etoilepop2{
        margin-top: 35px;
    }
    /**activites**/
    .bloc-activites{
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    #activites{ 
        width: 100%;
        margin: 0 10px 10px 10px;
    } 
    .titreactivites{
        margin-top: 15px;
    }
    .double-card{
        flex-direction: column;
        width: 100%;
    }
    .activites {
        
        height: 200px;
        width: 90%;
        margin: 15px;
    }
    .img{
        height: 150px;
        width: 100%;
    }
    /**footer**/

    #footer {
        flex-direction: column;
        justify-content: space-between;
    }  
}
@media (max-width: 320px) {
    .etoilepop1, .etoilepop3 {
        margin-top: 25px;
    }
    .etoilepop2{
        margin-top: 40px;
    }
}
